{% extends "layout.html" %}
{%block content%}
<div class="content-section">
    <h1> About </h1>

    <p> EloPoolRater was founded by somebody who eventually became sick and tired of not having a system to refer to when it came to bumper pool bragging rights.
    </p>
    <p> Angered by his competitors' tendencies to self-proclaim themselves as champions of mythical status, he furiously researched ways to rate players' relative skill levels.
        He stumbled upon the legendary Elo rating system, and decided to implement it because he honestly had nothing better to do with his time (he still has nothing better to do with his time, which is why he sent you this website).
    </p>
    <p> If you find yourself consistently dominating your peers in whatever meaningless game you waste your time playing whilst deprived of the validation of a leaderboard, consider utilizing this resource.</p>
    <p> If you're curious about how the system works, and maybe even would like to read about a more advanced modification to it called the Glicko system, visit <a href="https://www.chess.com/terms/elo-rating-chess" target="_blank">this page.</a></p>
    <p> (This website is a work in progress) </p>
</div>
{% endblock %}