{% extends "layout.html" %}
{%block content%}
    <h1 class="mb-3"> Leaderboard </h1>
    {% for user in users %}
    <div class="content-section">
        <div media-content-section>
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
            <div class="media-body"></div>
            <div class="media-body">
                <div class="article-metadata">
                    <h3> {{user.username}}</h3>
                </div>
                    <h3>{{ user.rating }}</h3>
                </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}